---
Data:

  - name: {{ ansible_net_hostname  }}
    serial: {{ ansible_net_serialnum }}
    {% if ansible_net_model -%}
        model: {{ ansible_net_model }}
    {% else -%}
        model: "Not Found"
    {% endif %}
    version: {{ ansible_net_version }}
    {#members: {{ ansible_net_stacked_models }} #}
    {#membernums: {{ ansible_net_stacked_serialnums }} #}

...